name: textwire-docs

services:
    app:
        image: textwire-docs
        container_name: textwire-docs
        build: .
        volumes:
            - .:/app:z
        ports:
            - 3000:5173
