.features {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--bg-secondary);
}

.features__item {
    padding: 20px;
}

.feature__svg {
    height: 200px;
    width: 200px;
}
