.features {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--bg-secondary);
}

.features__item {
    padding: 40px;
}

.features__item h3 {
    font-size: 1.4rem;
}

.features__item p {
    margin: 0;
}

.feature__svg {
    height: 200px;
    width: 200px;
}