:root {
    --vp-c-brand-1: #c9a928 !important;
    --vp-c-brand-2: #b69a2c !important;
    --vp-button-brand-bg: var(--vp-c-brand-1) !important;
    --vp-button-brand-hover-bg: var(--vp-c-brand-2) !important;
    --vp-home-hero-name-color: transparent !important;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #f5cb23, #bb9a18) !important;
    --popup-bg: rgb(244, 243, 220);
}

.dark {
    --vp-c-brand-1: #f5cb23 !important;
    --vp-c-brand-2: #eac11b !important;
    --vp-button-brand-text: black !important;
    --vp-button-brand-hover-text: black !important;
    --vp-home-hero-name-color: transparent !important;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ffd429, #d7b42b) !important;
    --popup-bg: rgb(62, 62, 59);
}

/* Grid layout for the community page */
.VPTeamMembers>.container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
}

.VPTeamMembers>.container .profile {
    padding: 25px !important;
}