/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c9a928;
  --ifm-color-primary-dark: #bfa12b;
  --ifm-color-primary-darker: #b69a2c;
  --ifm-color-primary-darkest: #ac9230;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgb(202 213 90 / 30%);
  --bg-secondary: #f9f9f9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f4cb23;
  --ifm-color-primary-dark: #eac11b;
  --ifm-color-primary-darker: #c6a213;
  --ifm-color-primary-darkest: #a4860e;
  --docusaurus-highlighted-code-line-bg: rgb(242 247 70 / 10%);
  --bg-secondary: #282828;
}